.tile {
  position: absolute;
  width: 256px;
  height: 256px;
  transition: transform 0.3s;
}

.container {
  margin: 0 auto;
  width: 1792px;
  height: 768px;
  border: solid black;
  position: relative;
}

.disable-interactivity {
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}
